@model EasyMadModul.Models.UserModel


@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Log in i Klub</h2>

<div class="editor-field">
    @Html.DropDownList("DepartmentsDrop", Model.Departmentlist, "Vælg klub")
</div>

<script>
    
</script>